.card{
  padding: 8px;
  margin: 16px;
}
.card-img-top{
  width: 240px;
  height: 300px;
}
.card-title{
  display: flex;
  text-align: center;
  justify-content: center ;
}

.btn{
  display: flex;
  text-align: center;
  justify-content: center ;
}
