<div class="box-search">
  <h1>Fandit League</h1>


<app-search></app-search>

  <div>
    <!-- <nav>
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/search']">Search</a>
        </li>
    </ul>

    </nav> -->
  </div>
</div>


<div class="container">

<app-card *ngFor="let league of data" [league]="league"></app-card>
</div>



